@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #E1E5EE;
    color: #2A324B;
    padding: 0;
    margin: 0;
}

header {
    padding-top: 10rem;
}

nav {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.fane {
    background-color: #2A324B;
    color: #fff;
    border: none;
    text-align: center;
    font-size: 1rem;
    padding: 1.5rem 3rem;
    font-weight: 600;
    cursor: pointer;
}

/*.aktiv.fane {
    background-color: #fff;
    color: #2A324B;
} */

main {
    background-color: #fff;
    max-width: 875px;
    height: 300px;
    padding: 2rem;  
    margin: 0 auto;
}

h2 {
    font-size: 24px;
    margin-bottom: 1.5rem;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 0.5rem 0;
}

a {
    color: #58699D;
    text-decoration: underline;
}